body,.inputs{
  height: auto;
}
.top-bar{
  width: 100%;
  height: 44px;
  font-size: 16px;
  line-height: 44px;
  color: #333;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.inputs{
  padding: 0 10px;
}

.inputs .input-group{
  margin-top: 10px;
}

.inputs .input-group p{
  color: #555;
  border: 1px solid #ccc;
  background: #eee;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
}

.inputs .input-group label{
  /*margin-right: 8px;*/
  width: 30%;
  height: 20px;
  line-height: 20px;
}
.inputs .input-group .title{
  height: 68px;
  white-space:pre-line;
}

/*.inputs .detail-input textarea{
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}*/

.bottomBtn{
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 5px;
  z-index: 100;
}

/*接入渠道选择*/
.select{
  width: 100%;
}
.select.input-group p{
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select>div{
  width: 50%;
  float: left;
  border: 1px solid #ccc;
  background: #fff;
  border-top: none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select .r{
  margin-left: -1px;
}

.select li{
  padding:0 5px;
}
.select .l li{
  margin: 5px 0;
  padding:5px;
  border-left: none;
}
.select .l .active{
  background: #ddd;
  border-top: 1px solid #298eb9;
  border-bottom: 1px solid #298eb9;
}

.select .r ul{
  display: none;
}

.select .r ul.active{
  display: block;
}

.select .r li{
  height: 21px;
  line-height: 21px;
  overflow: hidden;
}
.select .r li input{
  line-height: 21px;
  float: left;
}
.select .r li span{
  line-height: 21px;
  float: left;
}
