/*css重置样式*/
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  color: #000;
  font-family: "微软雅黑";
  overflow-x: hidden;
}
ul,
ol,
li {
  list-style: none;
}
a,
u {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  border: 0;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
}
em,
i {
  font-style: normal;
}
b,
strong {
  font-weight: 100;
}
input {
  outline: none;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.container {
  padding-left: 82px;
  padding-right: 82px;
}
@font-face {
  font-family: 'glyphicons', 'Amerika Sans', 'HelveticaneueLTPro-UltLt';
  src: url("../lib/bootstrap/fonts/glyphicons-halflings-regular.svg") format('svg');
  src: url("../lib/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix") format('eot');
  src: url("../lib/bootstrap/fonts/glyphicons-halflings-regular.eot") format('eot');
  src: url("../lib/bootstrap/fonts/glyphicons-halflings-regular.ttf") format('ttf');
  src: url("../lib/bootstrap/fonts/Amerika%20sans.ttf") format('ttf');
  src: url("../lib/bootstrap/fonts/glyphicons-halflings-regular.woff") format('woff');
  src: url("../fonts/HelveticaNeueLTPro-UltLt.otf") format('otf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'coopbl';
  src: url("../fonts/COOPBL.TTF") format('ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'i_TelEn';
  src: url("../fonts/aparaj.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*弹出框*/
.prompt {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: none;
}
.prompt .content {
  position: fixed;
  top: 30%;
  left: 50%;
  width: 80%;
  margin-left: -40%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.prompt .content .middle {
  text-align: center;
  padding: 20px;
}
.prompt .content .middle p {
  font-size: 14px;
  line-height: 20px;
}
.prompt .content .bottom {
  border-top: 1px solid #ddd;
  text-align: center;
  width: 100%;
  padding: 5px 0;
}
.prompt .content .bottom button {
  padding: 5px 20px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
}
/*响应式布局样式*/
