/*css重置样式*/
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  color: #000;
  font-family: "微软雅黑";
  overflow-x: hidden;
}
ul,
ol,
li {
  list-style: none;
}
a,
u {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  border: 0;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
}
em,
i {
  font-style: normal;
}
b,
strong {
  font-weight: 100;
}
input {
  outline: none;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.container {
  padding-left: 82px;
  padding-right: 82px;
}
@font-face {
  font-family: 'glyphicons', 'Amerika Sans', 'HelveticaneueLTPro-UltLt';
  src: url("../lib/bootstrap/fonts/glyphicons-halflings-regular.svg") format('svg');
  src: url("../lib/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix") format('eot');
  src: url("../lib/bootstrap/fonts/glyphicons-halflings-regular.eot") format('eot');
  src: url("../lib/bootstrap/fonts/glyphicons-halflings-regular.ttf") format('ttf');
  src: url("../lib/bootstrap/fonts/Amerika%20sans.ttf") format('ttf');
  src: url("../lib/bootstrap/fonts/glyphicons-halflings-regular.woff") format('woff');
  src: url("../fonts/HelveticaNeueLTPro-UltLt.otf") format('otf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'coopbl';
  src: url("../fonts/COOPBL.TTF") format('ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'i_TelEn';
  src: url("../fonts/aparaj.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*顶部区域start*/
header {
  height: 100px;
  text-align: center;
  background: #ffffff;
  margin: auto;
}
.Left_content a {
  margin-top: 16px;
}
.Left_content .QR_code img {
  height: 80px;
  float: right;
  margin-top: 10%;
}
.Left_content .vertical_line {
  width: 1px;
  height: 80px;
  display: block;
  margin: 5% 10px;
  background: -webkit-linear-gradient(top, #ffffff, #f00, #ffffff);
}
.topNav {
  width: 100%;
  text-align: right;
}
.topNav li {
  display: inline-block;
  font-size: 16px;
  width: 120px;
  text-align: center;
  position: relative;
}
.topNav li a {
  font-weight: 600;
  display: inline-block;
  width: 120px;
  line-height: 100px;
  color: #000;
}
.topNav li .line {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 0px;
  height: 3px;
  background: #0097d6;
  transition: 1s;
}
.topNav li:hover .line {
  width: 100%;
}
.topNav li:hover a {
  color: #fb5050;
}
.topNav .currentLi a {
  color: #0097d6;
}
.nav_sider {
  display: block;
  width: 100%;
  height: 60px;
  background: #5584c4;
  z-index: 1200;
  position: relative;
  display: none;
  padding-top: 60px;
  box-sizing: border-box;
}
.nav_sider .menu {
  font-size: 18px;
  color: #fff;
  position: absolute;
  right: 15px;
  top: 11px;
  cursor: pointer;
}
.nav_sider .Menubar {
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 60px;
  background: rgba(85, 132, 196, 0.9);
  display: none;
}
.nav_sider .Menubar a {
  width: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 16px;
  font-family: '微软雅黑';
  color: #fff;
  cursor: pointer;
  display: inline-block;
}
/*顶部区域end*/
.add {
  background: #22252f;
}
.iw_footer {
  margin: 0 auto;
  background: #22252f;
  padding: 20px 0 30px 0;
}
.add_res {
  margin-top: 25px;
  margin-left: 0px;
}
.add_res p {
  background: url(../images/add.png) no-repeat 0 center;
  height: 37px;
  font-size: 16px;
  color: #fad41b;
  padding-left: 40px;
  text-align: left;
  margin-top: 5px;
}
.add_res p span {
  font-size: 12px;
  color: #8d8d8d;
  display: block;
  padding-top: 5px;
}
.phone_01 {
  float: right;
  margin-top: 25px;
}
.phone_01 p {
  height: 36px;
  line-height: 36px;
  background: url(../images/phone_01.png) no-repeat 0 center;
  font-size: 18px;
  color: #fad41b;
  padding-left: 40px;
  text-align: left;
  margin-top: 5px;
}
footer {
  width: 100%;
  background: #000;
  margin: 0;
}
footer p {
  display: block;
  font-size: 14px;
  line-height: 60px;
  font-family: "微软雅黑";
  color: #646464;
}
footer p span {
  display: inline-block;
  font-size: 14px;
  font-family: "Arial";
  margin-right: 6px;
  color: #646464;
}
/*侧边栏*/
#sidebarfixed {
  position: fixed;
  right: 1px;
  top: 50%;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  z-index: 100;
}
#sidebarfixed li {
  position: relative;
  display: block;
  width: 60px;
  height: 64px;
  margin-bottom: 2px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  color: #323232;
  background-color: #cbcbcb;
  padding-top: 10px;
  box-sizing: border-box;
}
#sidebarfixed li .glyphicon {
  font-size: 24px;
}
#sidebarfixed li:nth-child(1) {
  padding-top: 0;
}
#sidebarfixed li:nth-child(1) img {
  margin-left: 6px;
}
#sidebarfixed li:hover {
  background-color: #666666;
}
#sidebarfixed li:hover .sidebar-item {
  left: -188px;
}
#sidebarfixed .sidebar-item {
  z-index: -1;
  transition: 0.5s;
  transition-delay: 0.1s;
  position: absolute;
  top: -1px;
  left: 60px;
  display: block;
  width: 154px;
}
#sidebarfixed .sidebar-item .sidebar-item-inner {
  position: relative;
  width: 180px;
  height: 64px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #ececec;
  color: #19aac1;
  background-color: #fff;
  display: block;
}
#sidebarfixed .sidebar-item .sidebar-item-inner h3 {
  margin-top: 15px;
  height: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #7b7b7b;
}
#sidebarfixed .sidebar-item .sidebar-item-inner h4 {
  height: 28px;
  font-weight: 400;
  font-size: 14px;
  color: #19aac1;
}
#sidebarfixed .sidebar-item .sidebar-item-inner .QQchat {
  float: left;
  margin-right: 5px;
}
#sidebarfixed .sidebar-item .sidebar-item-inner.QR-item {
  height: 180px;
}
#sidebarfixed .sidebar-item .sidebar-item-inner.QR-item img {
  width: 100%;
  height: 100%;
}
#sidebarfixed .sidebar-item .sidebar-item-inner:before {
  content: '';
  display: block;
  position: absolute;
  top: 26px;
  right: -5px;
  width: 8px;
  height: 8px;
  color: #ececec;
  border-top: 1px solid #ececec;
  border-right: 1px solid #ececec;
  transform: rotate(45deg);
  background-color: #fff;
}
/*响应式布局样式*/
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .Right_content {
    display: block;
  }
  .topNav li {
    width: auto;
  }
  .topNav li a {
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
  }
  .nav_sider {
    display: none;
  }
  .nav_sider .menu {
    font-size: 24px;
    font-weight: normal;
    position: absolute;
    right: 20px;
    top: 18px;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  /*顶部logo内容样式区域*/
  .Right_content {
    display: none;
  }
  .nav_sider {
    display: block;
  }
  .nav_sider .menu {
    font-size: 24px;
    font-weight: normal;
    position: absolute;
    right: 20px;
    top: 18px;
  }
  .add_res {
    margin-left: 0px;
  }
  .phone_01 {
    float: left;
    margin-top: 25px;
  }
  .phone_01 p {
    font-size: 16px;
    padding-left: 40px;
    margin-top: 5px;
  }
  footer p {
    line-height: 24px;
    padding: 10px 0;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
  /*顶部logo内容样式区域*/
  header .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .Left_content {
    width: 100%;
  }
  .Right_content {
    display: none;
  }
  .nav_sider {
    display: block;
  }
  .nav_sider .menu {
    font-size: 24px;
    font-weight: normal;
    position: absolute;
    right: 20px;
    top: 18px;
  }
  .add_res {
    margin-left: 20px;
  }
  .add_res p {
    font-size: 12px;
  }
  .phone_01 {
    margin-left: 20px;
    float: left;
    margin-top: 25px;
  }
  .phone_01 p {
    font-size: 12px;
    padding-left: 40px;
    margin-top: 5px;
  }
  footer p {
    line-height: 24px;
    padding: 10px 0;
  }
}
